<div class="container">
  <div class="row">
    <img [src]="src" class="col-6"/>
    <table class="table table-striped col-6">
      <thead>
      <tr>
        <th colspan="2" scope="col">Specification</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Cpu</td>
        <td>{{product.productInfo.cpu}}</td>
      </tr>
      <tr>
        <td>Screen</td>
        <td>{{product.productInfo.screen}}</td>
      </tr>
      <tr>
        <td>Os</td>
        <td>{{product.productInfo.os}}</td>
      </tr>
      <tr>
        <td>Camera</td>
        <td>{{product.productInfo.camera}}</td>
      </tr>
      <tr>
        <td>Hard disk</td>
        <td>{{product.productInfo.hardDisk}}</td>
      </tr>
      <tr>
        <td>Battery</td>
        <td>{{product.productInfo.battery}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
