<div>
  <img />
  <table class="table table-striped">
    <thead>
    <tr>
      <th colspan="2" scope="col">Specification</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Cpu</td>
      <td>{{product.detail.cpu}}</td>
    </tr>
    <tr>
      <td>Screen</td>
      <td>{{product.detail.screen}}</td>
    </tr>
    <tr>
      <td>Os</td>
      <td>{{product.detail.os}}</td>
    </tr>
    <tr>
      <td>Camera</td>
      <td>{{product.detail.camera}}</td>
    </tr>
    <tr>
      <td>Hard disk</td>
      <td>{{product.detail.hardDisk}}</td>
    </tr>
    <tr>
      <td>Battery</td>
      <td>{{product.detail.battery}}</td>
    </tr>
    </tbody>
  </table>
</div>
