<div class="container-fluid">
  <div class="row">
    <div class="col-2 px-1 bg-dark" style="height: 85vh;">
      <div class="py-2 sticky-top flex-grow-1">
        <div class="nav flex-sm-column">
          <a href="" class="nav-link d-none d-sm-inline">Sidebar</a>
          <a href="" class="nav-link">Link</a>
          <a href="" class="nav-link">Link</a>
          <a href="" class="nav-link">Link</a>
          <a href="" class="nav-link">Link</a>
          <a href="" class="nav-link">Link</a>
        </div>
      </div>
    </div>
    <div class="col-10">
      <form>
        <label>Search</label>
        <input type="text" placeholder="Search">

      </form>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table class="table table-bordered table-striped mb-0">
          <thead>
          <tr class="text-center">
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Full Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col" colspan="2">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td scope="row">{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.fullName}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.address}}</td>
            <td><button (click)="remove(user.userName)">delete</button></td>
            <td><a href="">replace</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
